<div class="container">

  <!-- COMPONENTS -->

  <h1 class="display-3"
      style="padding-bottom: 15px;"
      >
    Welcome to the {{title}} app!!
  </h1>

  <div class="border rounded section-style">
    <h2>Component Example</h2>
    <hr/>

    <app-comp></app-comp>
    <app-comp></app-comp>
    <app-comp></app-comp>

  </div>


  <!-- DATA & EVENT BINDING -->

  <div class="border rounded section-style">

    <h2>Data & Event Binding</h2>

    <app-binding></app-binding>

  </div>


  <!-- DIRECTIVES -->
  <div class="border rounded section-style">

    <h2>Directives</h2>

    <app-directives></app-directives>

  </div>



  <!-- PIPES -->
  <div class="border rounded section-style">

    <h2>Pipes</h2>

    <app-pipes></app-pipes>

  </div>



  <!-- COMPONENT INTERACTIONS -->
  <div class="border rounded section-style">

    <h2>Component Interactions</h2>

    <app-interactions-parent></app-interactions-parent>

  </div>



  <!-- REACTIVE FORMS -->
  <div class="border rounded section-style">

    <h2>Reactive Forms</h2>
    <p class="text-secondary">Provide direct, explicit access to the underlying form's object model. Compared to template-driven forms, they are more robust: they're more scalable, reusable, and testable. If forms are a key part of your application, or you're already using reactive patterns for building your application, use reactive forms.</p>
    <hr/>

    <app-r-form></app-r-form>
    
  </div>



  <!-- TEMPLATE-DRIVEN FORMS -->
  <div class="border rounded section-style">

    <h2>Template Driven Forms</h2>
    <p class="text-secondary">Rely on directives in the template to create and manipulate the underlying object model. They are useful for adding a simple form to an app, such as an email list signup form. They're straightforward to add to an app, but they don't scale as well as reactive forms. If you have very basic form requirements and logic that can be managed solely in the template, template-driven forms could be a good fit.</p>
    <hr/>

    <app-t-form></app-t-form>

  </div>



  <!-- LIFECYCLE -->
  <div class="border rounded section-style">

    <h2>Lifecycle</h2>
    <p class="text-secondary">You can access lifecycle hooks (methods within a component), that allow you to run code during specific points in that component's lifecycle. From the creation to the descruction of a component.</p>
    <hr/>

    <app-lifecycle></app-lifecycle>

  </div>





  <div style="height: 600px;"></div>


</div>





