.section-style {
    padding: 20px;
    margin: 20px auto;
    width: 95%
}

.success {
    color: green;
}

.danger {
    color: red;
}

.important {
    font-weight: bold;
    text-transform: uppercase;
}
